$l-background: #8cd7ff;
$l-foreground: #222222;
$l-a-default: #3f48ffcb;
$l-a-hover: #4d56ffa9;

$d-background: #000242;
$d-foreground: rgb(255, 255, 240);
$d-a-default: #ffd6b0e7;
$d-a-hover: #ffd52ddc;
